main {
    border: 2px double red;
    width: 100%;
}

form {
    margin: 10px;
}

.left {
    display: inline-block;
    width: 180px;
}

.full_right {
    display: inline-block;
    width: calc(98% - 180px);
}

@media (min-width: 567px)
{
    .test {display: inline} 
    
}

@media (max-width: 625px)
{
    input[type=text] {width: 98%} 
}

@media (max-width: 490px)
{
    select {display: block;} 
}