[type*="circle"] {
    color: brown;
}

[href*="https:"] {
    color: rgb(100, 26, 26);
}

@media (min-width: 590px) {
    i {
        color: black;
    }
}

@media (max-width: 430px) {
    div {
        flex-direction: column;

    }

    .main {

        justify-content: center;
        width: 100%;
        margin: auto;
        margin-top: 10px;
        height: 270px;

    }

}
